* {
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #333333;
    font-size: 18px;
    color: #EEEEEE;
}
h1 {
    font-size: 3em;
    margin: 1em 0;
    text-align: center
}
h2 {
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
}
a {
    color:#BBBBBB;
}
a:hover {
    color:goldenrod;
}
li {
    margin: 1.3rem;
}
p {
    line-height: 1.3rem;
}
.about-me {
    margin: 0 auto; 
    width: 50%;
}
.about-me p {
    display: inline-block;
    max-width: 45%;
    margin-right: 4%;
}
.about-me img {
    max-width: 50%;
    height: auto;
    display: inline-block;
}
.my-projects {
    text-align: center;
}
.my-skills {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}
.contact {
    text-align: center;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .about-me {
        width: 100%;
        margin: 0;
        width: 100%;
    }
    .about-me p {
        max-width:initial;
        display: block;
        width: 100%;
        margin: 0;
        padding: 1rem;
        text-align: justify;
      }
    .about-me img {
        display: block;
        margin: 1rem auto;
        max-width: 90%;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
}